<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Course:</strong>
  <%= Course.find(@cohort.course_id).name%>
</p>

<p> Current Students </p>
<% if @cohort.students %>
      <% @cohort.students.each do |students| %>
        <%= students.full_name %><br />
      <% end %>
<% end %>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
