<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.select :age, (18..149) %>
  </div>

  <div class="field">
    <%= form.label :salary %>
    <%= form.select :salary, ["10000", "20000", "30000", "40000", "50000",
    "60000", "70000", "80000", "90000", "100000", "110000", "120000",
    "130000", "140000", "150000"] %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.select :education, ["HS", "College", "Masters", "PH.D"] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
